#dashboard-page{
  width:90%;
  #income, #expense, #balance-amount, #balance-circular {
    width:50%;
    text-align: center;
    #dashboard-doughnut{
      width:320px !important;
      height:320px !important;
    }
  }
  .record-cards{
    width:50%;
  }
}
