#topics-button {
  .topic {
    font-size: 60px;
    font-weight: 900;
    font-family: Helvetica;
  }
  #login-button, #dashboard-button{
    height: 65px;
    width: 150px;
  }
  .main-page-buttons{
    background-color: transparent;
    color:black;
    border: black solid 3px;
    border-radius: 50px;
  }
}
