@use 'variables';

*{
  font-family: Oswald;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 600 !important;
}

.centering{
  display:flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

#__next{
  background-color: variables.$neutral-color;
  height: 100vh;
  .main-navbar{
    background-color: variables.$primary-color !important;
    justify-content: space-between !important;
    height:10%;
    .navbar-brand{
      color: variables.$neutral-color;
    }
    #login-signout{
      width: 200px;
      #user-profile-pic{
        border-radius: 50px;
      }
      .login-signout-button{
        height:40px;
        line-height: 24px;
      }
    }
  }
  #main-page{
    width:100%;
  }
}

#side-nav{
  width:10%;
  height:100%;
  display: flex;
  flex-direction: column;
  #nav-item{
    display:flex;
    flex-direction: column !important;
    .nav-link{
      padding: 16px 8px;
    }
  }
}

#topics-button {
  .topic {
    font-size: 60px;
    font-weight: 900;
    font-family: Helvetica;
  }
  #login-button, #dashboard-button{
    height: 65px;
    width: 150px;
  }
  .main-page-buttons{
    background-color: transparent;
    color:black;
    border: black solid 3px;
    border-radius: 50px;
  }
}

#image-section {
  width: 35%;
  height: 100%
}

.delete-logout-button{
  background-color: variables.$secondary-color;
  border: none;
  font-weight: 500;
}

.delete-logout-button:hover{
  background-color: #b31416;
}

.delete-logout-button:active {
  background-color: #b31416 !important;
}

.delete-logout-button:focus {
  background-color: #f33d40;
}

.reverse-button{
  color: #000000 !important;
}

.card-section{
  width:150px;
  text-align: center;
}

.card-section:first-child{
  text-align: start;
}

.card-section:last-child {
  text-align: end;
}

.main-page-pics{
  width: 400px;
  height: 300px;
}

.card-buttons{
  border:none !important
}
